<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        {% include "default/styles.html.twig" %}

        <title>Films</title>
    </head>
    <body>
        {% include "main/header.html.twig" %}

        {% block content %}{% endblock %}

        {% include "main/footer.html.twig" %}
        {% include "default/scripts.html.twig" %}
    </body>
</html>