<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Books</title>
    <link rel="stylesheet" href="src/css/bootstrap.min.css">
    <link rel="stylesheet" href="src/css/styles.css">
  </head>

  <body>

    {% include "main/menu.html" %}

    <div class="container">
      <div class="row">

        {% include "main/sidebar.html" %}

        <div class="col-lg-9">
          <div class="row">

            {% for film in films %}
                {% include "main/card.html" with {'film': film} %}
            {% endfor %}

          </div>
        </div>
      </div>
    </div>

    {% include "main/footer.html" %}

  </body>
</html>